<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->
<div class="ms-Grid-row">
   <!-- App navigation bar markup. -->
   <div class="ms-NavBar">
      <ul class="ms-NavBar-items">
         <li id="disconnect_link" class="ms-NavBar-item ms-NavBar-item--right" onclick="window.location.href='disconnect'"><i class="ms-Icon ms-Icon--x"></i> Disconnect</li>
      </ul>
   </div>
   <!-- App main content markup. -->
   <form action="sendMail" method="post">
      <div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">
         <div>
            <h2 class="ms-font-xxl ms-fontWeight-semibold">Hola, {{display_name}}!</h2>
            <p class="ms-font-xl">{{token}}</p>
            <p class="ms-font-x2">請告訴機器人你獲得的驗證碼</p>
            <p class="ms-font-x1">驗證碼: {{authcode}}</p>
         </div>
      </div>
   </form>
</div>
